Source: golang-github-streadway-amqp
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Andreas Henriksson <andreas@fatal.se>,
           Anthony Fok <foka@debian.org>,
           Alexandre Viau <aviau@debian.org>
Rules-Requires-Root: no
Build-Depends: debhelper (>= 13.4),
               debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-streadway-amqp
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-streadway-amqp.git
Homepage: https://github.com/streadway/amqp
XS-Go-Import-Path: github.com/streadway/amqp

Package: golang-github-streadway-amqp-dev
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Go client for AMQP 0.9.1
 The amqp package provides a functional interface that closely
 represents the AMQP 0.9.1 model targeted to RabbitMQ as a server.
 This includes the minimum necessary to interact the semantics of
 the protocol.
